node_modules/
.venv/
__pycache__/
.pytest_cache/
.env
*.pyc
app/node_modules/
.genvmroot/
artifacts/
genlayer_config.py

/app/
/config/
/deploy/
/test/
/tools/
/__init__.py
/requirements.txt
/tsconfig.json
/contracts/football_bets.py
/contracts/__init__.py
